/* .slider-container {
    position: relative;
    width: 100vw!important;
    margin: 0!important;
  }

.slider-list {
    height: auto!important;
}

.slider-slide {
    position: sticky!important;
} */

/* .slider > .slider-frame > .slider-list {
    width: auto!important;
  } */

  